{{{html}}}
<div class='upgrade-cta' lang='en'>
    {{#has visibility='paid'}}
        <h2>
            This post is for premium members only
        </h2>
        <p>
            Join the 100+ developers and entrepreneur, premium members of our
            community and get full access to our library of private posts.
        </p>
    {{else}}
        <h2>
            This post is for members only
        </h2>
        <p>
            Join the 100+ developers and entrepreneur, members of our community
            and get access to our library of member-only posts.
        </p>
    {{/has}}
    <a href='/membership/' class='button'>Subscribe!</a>
    <p class='switch'>
        Already a member?
        <a href='/login/'>Log in</a>
    </p>
</div>