<div class='upgrade-cta' lang='en'>
    {{#has visibility='paid'}}
        <h2>
            This post is for premuim members only
        </h2>
    {{else}}
        <h2>
            This post is for members only
        </h2>
    {{/has}}
    <p>
        Join the 100+ developers and entrepreneur, premium members of our
        community and get full access to our library of private posts.
    </p>
    <a href='/membership/' class='button'>Subscribe!</a>
    <p class='switch'>
        Already a member?
        <a href='/login/'>Log in</a>
    </p>
</div>