{{#if html}}
    {{{html}}}
{{else}}
    <p class='post-restricted-content'>
        {{excerpt}}...
    </p>
{{/if}}

{{#has tag='#fr'}}
    {{> "content-cta-fr"}}
{{else}}
    {{> "content-cta-en"}}
{{/has}}