{{#if html}}
    {{{html}}}
{{else}}
    <p class='post-restricted-content'>
        {{excerpt}}...
    </p>
{{/if}}

{{#has tag='#lang-fr'}}
    {{> "french/content-cta"}}
{{else}}
    {{> "english/content-cta"}}
{{/has}}