<footer class="site-footer outer">
    <div class="site-footer-content inner">
        <nav class="items">
            <div class="item">
                <h2>More links</h2>
                <ul>
                    <li><a href="https://discord.gg/WrHUfSC">Discord</a></li>
                    <li><a href="https://nathanaelcherrier.dev/fr/resume">Resume</a></li>
                    <li><a href="https://nathanaelcherrier.dev/fr/contact">Contacte me</a></li>
                    <li><a href="https://feedly.com/i/subscription/feed/{{@site.url}}/en/rss/" title="RSS" target="_blank" rel="noopener">RSS feed</a></li>
                </ul>
            </div>
            <div class="item">
                <h2>Open Sources</h2>
                <ul>
                    <li><a href="https://github.com/mindsers/configfile" rel="nofollow">Configfile</a></li>
                    <li><a href="https://github.com/mindsers/yabf" rel="nofollow">Yabf</a></li>
                    <li><a href="https://github.com/mindsers/nativetable" rel="nofollow">Nativetable</a></li>
                </ul>
            </div>
            <div class="item">
                <h2>Social</h2>
                <ul>
                    <li><a href="https://www.instagram.com/mindsers.codes/" rel="nofollow">Instagram</a></li>
                    <li><a href="https://twitter.com/MindsersCodes" rel="nofollow">Twitter</a></li>
                    <li><a href="https://github.com/Mindsers" rel="nofollow">GitHub</a></li>
                    <li><a href="https://dev.to/mindsers" rel="nofollow">Dev</a></li>
                    <li><a href="https://www.twitch.tv/mindsers" rel="nofollow">Twitch</a></li>
                    <li><a href="https://www.facebook.com/MindsersIT" rel="nofollow">Facebook</a></li>
                    <li><a href="https://www.malt.fr/profile/nathanaelcherrier" rel="nofollow">Malt</a></li>
                </ul>
            </div>
            <div class="item">
                <h2>Support</h2>
                <ul>
                    <li>Bitcoin: <span class="coin-address">3N7iAYWKz5rqdtbYJ4r1SRJHq9sEQbXHDk</span></li>
                    <li>Ethereum: <span class="coin-address">0x30B42B1487262fE55aD8CDF046342AB6bF4d4e73</span></li>
                    <li>Ripple: <span class="coin-address">rUwDYme9YMzNo8ufvgKE7VET1QgbKgJuGT</span></li>
                    <li>Litecoin: <span class="coin-address">MU47RMv5KGHiBU8Kw5PNPbn3cyFLjmQXPt</span></li>
                </ul>
            </div>
        </nav>
        <section class="copyright">
            &copy;2014-{{date format="YYYY"}} <a href="https://nathanaelcherrier.dev/en/">Nathanaël Cherrier</a>. All right reserved.<br>
            <a href="https://nathanaelcherrier.dev/en/legal">Legal notices</a>
        </section>
    </div>
</footer>