<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="html-tag newer-posts" href="{{page_url prev}}">{{> helpers/trans text="prev"}}</a>
    {{/if}}
    <span class="page-number">{{t "{page} of {pages}" page=page pages=pages}}</span>
    {{#if next}}
        <a class="html-tag older-posts" href="{{page_url next}}">{{> helpers/trans text="next"}}</a>
    {{/if}}
</nav>
