<div class='plan-container plan-perks'>
    <div class='plan-bg'>
        <header>
            <h3>Read</h3>
        </header>
        <section class='plan-body'>
            <ul>
                <li><span class="icon">✓</span> Access to the public blog posts only</li>
                <li><span class="icon">✓</span> Get a monthly digest email</li>
                <li class="no-perk"><span class="icon">✗</span> No access to exclusive content (cheatsheet, etc)</li>
                <li class="no-perk"><span class="icon">✗</span> New blog posts not sent directly into your inbox</li>
                <li class="no-perk"><span class="icon">✗</span> No prime access to blog posts</li>
            </ul>
        </section>
    </div>
</div>
<div class='plan-container highlighted plan-perks'>
    <div class='plan-bg'>
        <header>
            <h3>Read</h3>
        </header>
        <section class='plan-body'>
            <ul>
                <li><span class="icon">✓</span> Access to the public <strong>and private</strong> blog posts</li>
                <li><span class="icon">✓</span> Get a monthly digest email</li>
                <li><span class="icon">✓</span> Access to exclusive content (cheatsheet, etc)</li>
                <li><span class="icon">✓</span> Get new blog posts directly into your inbox</li>
                <li class="no-perk"><span class="icon">✗</span> No prime access to blog posts</li>
            </ul>
        </section>
    </div>
</div>
<div class='plan-container highlighted plan-perks'>
    <div class='plan-bg'>
        <header>
            <h3>Read</h3>
        </header>
        <section class='plan-body'>
            <ul>
                <li><span class="icon">✓</span> Access to the public <strong>and private</strong> blog posts</li>
                <li><span class="icon">✓</span> Get a monthly digest email</li>
                <li><span class="icon">✓</span> Access to exclusive content (cheatsheet, etc)</li>
                <li><span class="icon">✓</span> Get new blog posts directly into your inbox</li>
                <li><span class="icon">✓</span> Access to blog posts <strong>before others</strong></li>
            </ul>
        </section>
    </div>
</div>

<div class="plus-section">
    ＋
</div>
<div class="plus-section">
    ＋
</div>
<div class="plus-section">
    ＋
</div>

<div class='plan-container plan-perks'>
    <div class='plan-bg'>
        <header>
            <h3>Learn</h3>
        </header>
        <section class='plan-body'>
            <ul>
                <li class="no-perk"><span class="icon">✗</span> No access to online programing courses</li>
                <li class="no-perk"><span class="icon">✗</span> No discount on 1:1 coaching session with me</li>
            </ul>
        </section>
    </div>
</div>
<div class='plan-container highlighted plan-perks'>
    <div class='plan-bg'>
        <header>
            <h3>Learn</h3>
        </header>
        <section class='plan-body'>
            <ul>
                <li><span class="icon">✓</span> Access to online programing courses</li>
                <li class="no-perk"><span class="icon">✗</span> No discount on 1:1 coaching session with me</li>
            </ul>
        </section>
    </div>
</div>
<div class='plan-container highlighted plan-perks'>
    <div class='plan-bg'>
        <header>
            <h3>Learn</h3>
        </header>
        <section class='plan-body'>
            <ul>
                <li><span class="icon">✓</span> Access to online programing courses</li>
                <li><span class="icon">✓</span> <strong>€50 off</strong> each 1:1 coaching session with me</li>
            </ul>
        </section>
    </div>
</div>

<div class="plus-section">
    ＋
</div>

<div class="plus-section">
    ＋
</div>
<div class="plus-section">
    ＋
</div>

<div class='plan-container plan-perks'>
    <div class='plan-bg'>
        <header>
            <h3>Share</h3>
        </header>
        <section class='plan-body'>
            <ul>
                <li><span class="icon">✓</span> Access to the comment section on blog posts</li>
                <li class="no-perk"><span class="icon">✗</span> No access to the private chat/forum of the club</li>
            </ul>
        </section>
    </div>
</div>
<div class='plan-container highlighted plan-perks'>
    <div class='plan-bg'>
        <header>
            <h3>Share</h3>
        </header>
        <section class='plan-body'>
            <ul>
                <li><span class="icon">✓</span> Access to the comment section on blog posts</li>
                <li><span class="icon">✓</span> Limited access to the private chat/forum of the club
                </li>
            </ul>
        </section>
    </div>
</div>
<div class='plan-container highlighted plan-perks'>
    <div class='plan-bg'>
        <header>
            <h3>Share</h3>
        </header>
        <section class='plan-body'>
            <ul>
                <li><span class="icon">✓</span> Access to the comment section on blog posts</li>
                <li><span class="icon">✓</span> <strong>Full access</strong> to the private chat/forum of the club</li>
            </ul>
        </section>
    </div>
</div>


<div class="plus-section">
    ＋
</div>
<div class="plus-section">
    ＋
</div>

<div class="plus-section">
    ＋
</div>
<div class='plan-container plan-perks'>
    <div class='plan-bg'>
        <header>
            <h3>Merch</h3>
        </header>
        <section class='plan-body'>
            <ul>
                <li class="no-perk"><span class="icon">✗</span> No discount on merch products</li>
                <li class="no-perk"><span class="icon">✗</span> No Mindsers Blog merchandise every year</li>
            </ul>
        </section>
    </div>
</div>
<div class='plan-container plan-perks highlighted'>
    <div class='plan-bg'>
        <header>
            <h3>Merch</h3>
        </header>
        <section class='plan-body'>
            <ul>
                <li><span class="icon">✓</span> 10% discounts on merch products</li>
                <li class="no-perk"><span class="icon">✗</span> No Mindsers Blog merchandise every year</li>
            </ul>
        </section>
    </div>
</div>
<div class='plan-container plan-perks highlighted'>
    <div class='plan-bg'>
        <header>
            <h3>Merch</h3>
        </header>
        <section class='plan-body'>
            <ul>
                <li><span class="icon">✓</span> <strong>15% discounts</strong> on merch products</li>
                <li><span class="icon">✓</span> A beautiful piece of Mindsers Blog merchandise every year</li>
            </ul>
        </section>
    </div>
</div>