{{#unless @member.paid}}
    <div class='mds-submenu-column mds-submenu-plans'>
        <p class='title'>Get more with the club</p>
        <ul>
            <li><a
                    href='javascript:'
                    data-portal='signup/{{@custom.starter_tier_id}}/monthly'
                    data-members-cancel='/membership/'
                >Pro
                    <span class='price'>€14.99/month</span></a></li>
            <li><a
                    href='javascript:'
                    data-portal='signup/{{@custom.pro_tier_id}}/monthly'
                    data-members-cancel='/membership/'
                >Premium <span class='price'>€100/month</span></a>
            </li>
        </ul>
        <p><a class='more' href='/membership/'>Compare the plans</a></p>
    </div>
{{/unless}}