<section class="title-header">
    <div class="title-header-content">
        <h1>
            {{#if translatedTitle}}
                {{translatedTitle}}
            {{else}}
                {{#if title}}
                    {{> helpers/trans text=title}}
                {{else}}
                    {{> helpers/trans text="Posts"}}
                {{/if}}
            {{/if}}
        </h1>
    </div>
</section>