<section class="title-header">
    <div class="title-header-content">
        <h1>
            {{#if title}}
                {{title}}
            {{else}}
                {{> helpers/trans text="Posts"}}
            {{/if}}
        </h1>
    </div>
</section>