{{!< default}}

{{#contentFor "styles"}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/error.css"}}">
{{/contentFor}}

{{#contentFor "lang"}}fr{{/contentFor}}

{{> header}}

<main id="site-main" class="site-main outer">
    <div class="inner">
        <header>
            <h1>500'</h1>
        </header>
        <section>
            <p>
                Une erreur inconnue s'est produite. Excusez-nous pour le dérangement.
            </p>
        </section>
    </div>
</main>

{{> footer}}