{{!< default}}

{{#contentFor "styles"}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/error.css"}}">
{{/contentFor}}

{{#contentFor "lang"}}fr{{/contentFor}}

{{> header}}

<main id="site-main" class="site-main outer">
    <div class="inner">
        <header>
            <h1>404'</h1>
        </header>
        <section>
            <p>
                Oups! On dirait bien que nous n'arrivons pas à trouver ce que vous voulez voir.
            </p>
        </section>
    </div>
</main>

{{> footer}}