{{!< default}}

{{#contentFor "styles"}}
    <link rel="stylesheet" href="{{asset "css/error.css"}}">
{{/contentFor}}

<main id="site-main" class="site-main outer">
    <div class="inner">
        <header>
            <h1>{{code}}'</h1>
        </header>
        <section>
            <p>
                Oups! It seems like we didn't find what you want.
            </p>
        </section>
    </div>
</main>
