{{!< default}}

{{#contentFor "styles"}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/error.css"}}">
{{/contentFor}}

<main id="site-main" class="site-main outer">
    <div class="inner">
        <header>
            <h1>500'</h1>
        </header>
        <section>
            <p>
                {{t "An unknown error occured. Sorry for trouble."}}
            </p>
        </section>
    </div>
</main>
