{{!< default}}

<link rel="stylesheet" type="text/css"  href="{{asset "css/home.css"}}" />

<div class="mds-home">
    <div class="mds-container">
        <header class="mds-header">
            <div class="presentation">
                <h1 class="mds-title">{{@site.description}}</h1>
                <p>
                    Hundreds of ressources I created to share with you everything
                    I learned from coding to starting a business
                </p>
                <p><a href="/membership/" class="button primary">Subscribe</a></p>
            </div>
            <div class="illustration"></div>
        </header>

        <div class="mds-featured">
            {{#get "posts" filter="featured:true" limit="2"}}
                {{#foreach posts}}
                    {{> "card"}}
                {{/foreach}}
            {{/get}}
        </div>

        <div class="mds-postfeed">
        {{#foreach posts}}
            {{> "card"}}
        {{/foreach}}
        </div>
    </div>
</div>