{{!< default}}

<link rel="stylesheet" type="text/css"  href="{{asset "css/home.css"}}" />

<div class="mds-home">
    <header class="mds-header">
        <div class="mds-container">
            <div class="presentation">
                <h1 class="mds-title">{{@site.description}}</h1>
                <p>
                    Hundreds of ressources I created to share with you everything
                    I learned from coding to starting a business
                </p>
                <p><a href="/membership/" class="button primary">Subscribe</a></p>
            </div>
            <div class="illustration"></div>
        </div>
    </header>

    <section class="mds-featured">
        <div class="mds-container">
        {{#get "posts" filter="featured:true" limit="2"}}
            {{#foreach posts}}
                {{> "card"}}
            {{/foreach}}
        {{/get}}
        </div>
    </section>

    <section class="mds-testimonials">
        <div class="mds-container">
            <div class="testimonial">
                <div class="stars">&starf;&starf;&starf;&starf;&starf;</div>
                <p>" A recommandation from
a satisfied customer
or reader "</p>
                <p class="author">Nathanaël C.</p>
            </div>
            <div class="testimonial">
                <div class="stars">&starf;&starf;&starf;&starf;&starf;</div>
                <p>" A recommandation from
a satisfied customer
or reader "</p>
                <p class="author">Nathanaël C.</p>
            </div>
            <div class="testimonial">
                <div class="stars">&starf;&starf;&starf;&starf;&starf;</div>
                <p>" A recommandation from
a satisfied customer
or reader "</p>
                <p class="author">Nathanaël C.</p>
            </div>
            <div class="testimonial">
                <div class="stars">&starf;&starf;&starf;&starf;&starf;</div>
                <p>" A recommandation from
a satisfied customer
or reader "</p>
                <p class="author">Nathanaël C.</p>
            </div>
        </div>
    </section>

    <section class="post-grid">
        <div class="mds-container">
            <h2 class="section-title">My last blog posts</h2>
            <div class="mds-postfeed">
            {{#get "posts" filter="tag:hash-en+tag:-[hash-email,hash-newsletter-issue]" limit="5"}}
                {{#foreach posts}}
                    {{> "thumbnail-card"}}
                {{/foreach}}
            {{/get}}
            </div>
        </div>
    </section>

    <section class="highlighted-band">
        <div class="mds-container">
            <h2 class="section-title">
                I also have a monthly paid newsletter about my coding journey and my business journey
            </h2>
            <a href="/newsletter/" class="button">Learn about the newsletter</a>
        </div>
    </section>

    <section class="post-grid">
        <div class="mds-container">
            <h2 class="section-title">My last French blog posts</h2>
            <div class="mds-postfeed" lang="fr">
            {{#get "posts" filter="tag:hash-fr+tag:-[hash-email,hash-newsletter-issue]" limit="5"}}
                {{#foreach posts}}
                    {{> "thumbnail-card"}}
                {{/foreach}}
            {{/get}}
            </div>
        </div>
    </section>
    </div>
</div>