{{!< default}}

<link rel="stylesheet" type="text/css"  href="{{asset "css/home.css"}}" />

<div class="mds-home">
    <div class="mds-container">
        <header class="mds-header">
            <div class="presentation">
                <h1 class="mds-title">{{@site.description}}</h1>
                <p>
                    Hundreds of ressources I created to share with you everything
                    I learned from coding to starting a business
                </p>
                <p><a href="/membership/" class="button primary">Subscribe</a></p>
            </div>
            <div class="illustration"></div>
        </header>

        <section class="mds-featured">
            {{#get "posts" filter="featured:true" limit="2"}}
                {{#foreach posts}}
                    {{> "card"}}
                {{/foreach}}
            {{/get}}
        </section>

        <section>
            <h2 class="section-title">My last blog posts</h2>
            <div class="mds-postfeed">
            {{#get "posts" filter="tag:hash-en+tag:-[hash-email,hash-newsletter-issue]" limit="5"}}
                {{#foreach posts}}
                    {{> "thumbnail-card"}}
                {{/foreach}}
            {{/get}}
            </div>
        </section>
        <section>
            <h2 class="section-title">My last French blog posts</h2>
            <div class="mds-postfeed">
            {{#get "posts" filter="tag:hash-fr+tag:-[hash-email,hash-newsletter-issue]" limit="5"}}
                {{#foreach posts}}
                    {{> "thumbnail-card"}}
                {{/foreach}}
            {{/get}}
            </div>
        </section>
    </div>
</div>