{{!< default}}


{{#contentFor 'styles'}}
    <link rel="stylesheet" type="text/css"  href="{{asset "css/home.css"}}" />
{{/contentFor}}

<div class="mds-home">
    <header class="mds-header">
        <div class="mds-container">
            <div class="presentation">
                <h1 class="mds-title">{{@site.description}}</h1>
                <p>
                    Hundreds of ressources I created to share with you everything
                    I learned from coding to starting a business
                </p>
                {{#unless @member.paid}}
                    <p><a href="/membership/" class="button primary">Subscribe</a></p>
                {{/unless}}
            </div>
            <div class="illustration">
                {{> "images/developer"}}
            </div>
        </div>
    </header>

    <section class="mds-featured">
        <div class="mds-container">
        {{#get "posts" filter="featured:true" limit="2"}}
            {{#foreach posts}}
                {{> "card"}}
            {{/foreach}}
        {{/get}}
        </div>
    </section>

    {{!-- <section class="mds-testimonials">
        <div class="mds-container">
            {{> "testimonials"
                text="A recommandation from a satisfied customer or reader"
                people="Nathanaël C."
            }}
            {{> "testimonials"
                text="A recommandation from a satisfied customer or reader"
                people="Nathanaël C."
            }}
            {{> "testimonials"
                text="A recommandation from a satisfied customer or reader"
                people="Nathanaël C."
            }}
            {{> "testimonials"
                text="A recommandation from a satisfied customer or reader"
                people="Nathanaël C."
            }}
        </div>
    </section> --}}

    <section class="post-grid">
        <div class="mds-container">
            <h2 class="section-title">My last blog posts</h2>
            <div class="mds-postfeed">
            {{#get "posts" filter="tag:hash-en+tag:-[hash-email,hash-newsletter-issue]" limit="5"}}
                {{#foreach posts}}
                    {{> "thumbnail-card"}}
                {{/foreach}}
            {{/get}}
                <div class="more">
                    <p>Want to read more?</p>
                    <p><a href="/posts/" class="button primary">Browse all</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="highlighted-band">
        <div class="mds-container">
            {{#if @member.paid}}
                <h2 class="section-title">
                    You have complete access to my monthly paid newsletter about my coding journey and my business journey
                </h2>
                <a href="/issues/" class="button">Browse the newsletter issues!</a>
            {{else}}
                <h2 class="section-title">
                    I also have a monthly paid newsletter about my coding journey and my business journey
                </h2>
                <a href="/newsletter/" class="button">Learn about the newsletter</a>
            {{/if}}
        </div>
    </section>

    <section class="post-grid">
        <div class="mds-container">
            <h2 class="section-title">My last French blog posts</h2>
            <div class="mds-postfeed" lang="fr">
            {{#get "posts" filter="tag:hash-fr+tag:-[hash-email,hash-newsletter-issue]" limit="5"}}
                {{#foreach posts}}
                    {{> "thumbnail-card"}}
                {{/foreach}}
            {{/get}}
                <div class="more" lang="en">
                    <p>Want to read more?</p>
                    <p><a href="/fr/posts/" class="button primary">Browse all</a></p>
                </div>
            </div>
        </div>
    </section>
    </div>
</div>