{{!< default}}

<link rel="stylesheet" type="text/css"  href="{{asset "css/pagination.css"}}" />

<div class="mds-page">
    <div class="mds-container">
        <header class="mds-header">
            <h1 class="mds-title">Posts</h1>
        </header>

        <div class="mds-postfeed">
        {{#foreach posts}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

        {{pagination}}
    </div>
</div>