{{!< default}}

<section class="list-header">
    <div class="list-header-content">
        <h2>
            {{ @blog.description }}
        </h2>
    </div>
</section>

<main id="site-main" class="site-main outer">
    <div class="post-feed inner">
        {{#foreach posts}}
            {{> post-card}}
        {{/foreach}}
    </div>
</main>
