{{!< default}}

{{#contentFor 'htmlLang'}}{{@site.locale}}{{/contentFor}}

{{#contentFor 'meta'}}
    <meta name="robots" content="noindex" />
{{/contentFor}}

{{#contentFor 'styles'}}
    <link rel='stylesheet' type='text/css' href='{{asset 'css/login.css'}}' />
{{/contentFor}}

{{#contentFor 'title'}}Log in - {{meta_title}}{{/contentFor}}

<div class='mds-login'>
    <div class='mds-container'>
        <header class='mds-header'>
            <h1 class='mds-title'>Welcome back!</h1>
        </header>

        <form data-members-form='signin'>
            <p class='message-success'>
                <strong>Great!</strong>
                Check your inbox and click the link to complete sign in
            </p>
            <p class='message-error' data-members-error></p>
            <label>
                Email
                <input
                    data-members-email
                    type='email'
                    required='true'
                    placeholder='jamie@example.com'
                />
            </label>
            <button class='button primary' type='submit'>Continue</button>
            <p class='switch'>
                Don't have an account?
                <a href='/signup/'>Sign up</a>
            </p>
        </form>
    </div>
</div>