{{!< default}}

{{#contentFor "lang"}}fr{{/contentFor}}

{{> header}}

<section class="list-header">
    <div class="list-header-content">
        <h1>Premium Membership</h1>
        <p>{{@site.title}} has a premium membership. Members get access to a private newsletter and new content every week.</p>
    </div>
</section>

<main id="site-main" class="site-main outer">
    
</main>

{{> footer}}