{{!< default}}

<link rel='stylesheet' type='text/css' href='{{asset 'css/plans.css'}}' />

<div class='mds-plans'>
    <div class='mds-container'>
        <header class='mds-header'>
            <h1 class='mds-title'>Mindsers' Blog Premium Membership</h1>
            <p>
                I wrote several blog posts through years to share my knowledge
                and my journey. Most of them are free thanks to my awesome paid
                members. Join them to get complete access.
            </p>
        </header>
    </div>
</div>