{{!< default}}

{{#contentFor 'styles'}}
    <link rel='stylesheet' type='text/css' href='{{asset 'css/login.css'}}' />
{{/contentFor}}

{{#contentFor 'title'}}Sign up - {{meta_title}}{{/contentFor}}

<div class='mds-login'>
    <div class='mds-container'>
        <header class='mds-header'>
            <h1 class='mds-title'>Welcome!</h1>
        </header>

        <form data-members-form='signup'>
            <p class='message-success'><strong>Great!</strong>
                Check your inbox and click the link to complete sign in</p>
            <p class='message-error' data-members-error></p>
            <label>
                Name
                <input
                    data-members-name
                    type='text'
                    required='true'
                    placeholder='Jamie Larson'
                />
            </label>
            <label>
                Email
                <input
                    data-members-email
                    type='email'
                    required='true'
                    placeholder='jamie@example.com'
                />
            </label>
            <label>Which content do you want to receive from
                {{@site.title}}:</label>
            <input
                id='en-check'
                type='checkbox'
                name='language'
                value='English'
                checked
            />
            <label class='checkbox-label' for='en-check'>
                English content
            </label>
            <input
                id='fr-check'
                type='checkbox'
                name='language'
                value='French'
                checked
            />
            <label class='checkbox-label' for='fr-check'>
                French content
            </label>
            <input data-members-label type='hidden' value='English' />
            <input data-members-label type='hidden' value='French' />

            <button class='button primary' type='submit'>Continue</button>
            <p class='switch'>
                Already a member?
                <a href='/login/'>Log in</a>
            </p>
        </form>
    </div>
</div>

{{#contentFor 'scripts'}}
    <script type='module' src='{{asset 'js/signup.js'}}'></script>
{{/contentFor}}