<div class='member-cta' lang='fr'>
    <h2>
        Rejoins
        {{total_members}}
        développeurs et sois informé chaque mois des nouveaux contenus
        disponible sur le blog.
    </h2>
    <form data-members-form='subscribe'>
        <label>
            Email
            <input
                data-members-email
                type='email'
                required='true'
                placeholder='jean@exemple.fr'
            />
        </label>
        <input data-members-label type='hidden' value='French' />
        <button class='button' type='submit'>C'est parti !</button>
    </form>
    <p>Aucun spam. Désabonnez-vous en un seul clic à tout moment.</p>
</div>