<div class='thanks-cta' lang='fr'>
    {{#has tag='#sponsored-post'}}
        <p>
            Cet article est libre d'accès gratuitement pour tous grâce à la
            générosité de notre sponsor. Vous souhaitez sponsoriser un article
            sur
            {{@site.title}}
            ? Contactez-nous à
            <a
                href='mailto:hello@mindsers.blog'
                title='Partenariat de sponsoring sur {{@site.title}}'
                rel='nofollow noreferrer'
            >hello@mindsers.blog</a>
            !
        </p>
    {{else}}
        <p>
            Cet article est libre d'accès pour tous grâce aux membre du
            <strong>Mindsers Club</strong>
            qui soutiennent notre blog indépendant.
            {{#if @member.paid}}
                Merci beaucoup de faire partie de cette magnifique aventure.
                Penses à en parler à tes amis pour que notre communauté puisse
                continuer à grandir !
            {{else}}
                Si vous appréciez le contenu que je propose, je vous invite à
                <a
                    href='https://club.mindsers.blog/'
                    title='Abonnez-vous !'
                >rejoindre le club</a>
                dès aujourd'hui.
            {{/if}}
        </p>
    {{/has}}
</div>