<main id="site-main" class="site-main outer">
    <div class="post-feed inner">
        {{#foreach posts visibility="all"}}
            {{> post-card/main}}
        {{else}}
            <p class="no-post">Aucun article ici</p>
        {{/foreach}}
    </div>
    <div class="post-feed-pagination">
        {{pagination}}
    </div>
</main>