<section class="title-header">
    <div class="title-header-content">
        <h1>
        {{#> titleBlock}}
            {{#if title}}
                {{title}}
            {{else}}
                Posts
            {{/if}}
        {{/titleBlock}}
        </h1>
        <p class="description">
        {{#> descriptionBlock}}
        {{/descriptionBlock}}
        </p>
    </div>
</section>