section.list-header {
    padding: 80px 10px 50px;
}

section.list-header h1 {
    font-family: var(--primaryFont);
    text-align: center;
    font-size: 2.5em;
}

section.list-header h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 4em;
    font-weight: 500;
    margin: 40px;
}

section.list-header .social-networks {
    margin: auto;
}

.site-main section.description {
    padding: 50px 0;
}

.site-main section.description a {
    background-color: rgba(0, 118, 223, 0.2);
    color: var(--primaryColor);
    display: inline-block;
    padding: 1px 3px;
    border-radius: 3px;
    text-decoration: none;
}

.site-main section.description .actions {
    text-align: center;
    margin: 45px 0 0;
}

.site-main section.description .actions .btn {
    background-color: transparent;
    color: var(--primaryColor);
    display: inline-block;
    border: 2px solid var(--primaryColor);
    border-radius: 3px;
    text-align: center;
    padding: 15px 25px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 0.9em;
}

.site-main section.description .actions .btn.btn-primary {
    background-color: var(--primaryColor);
    color: var(--lightColor);
}

.site-main .inner {
    width: 1024px;
    margin: auto;
    box-sizing: border-box;
}

.site-main h3 {
    color: #cfcfcf;
    font-family: var(--primaryFont);
}

.site-main section.post-feeds {
    margin: 50px 0;
    padding: 20px 0;
}
.site-main .feed {
    display: flex;
    justify-content: space-between;
}

.site-main .feed .post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
    background-color: var(--bgSecondaryColor);
    width: 240px;
    box-sizing: border-box;
    padding: 0 20px 20px;
}

.site-main .feed article.post-card .post-card-header .post-card-title {
    max-width: unset;
}

.site-main .feed .post-card .post-card-content-link {
    margin-top: 0;
}

.site-main .feed .post-card:first-of-type {
    margin-left: 0;
}

.site-main .feed .post-card:last-of-type {
    margin-right: 0;
}

.site-main .feed .post-card.more-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.site-main .feed .post-card.more-link a {
    background-color: transparent;
}

.site-main .description {
    font-family: var(--primaryFont);
    font-size: 1.2em;
    background-color: var(--bgSecondaryColor);
}

.site-main .description p {
    margin: 30px 0;
}

@media screen and (max-width: 1024px) {
    .site-main .inner {
        padding: 0 10px;
        width: 100%;
    }

    .site-main .description {
        text-align: center;
    }

    .site-main .feed .post-card:nth-of-type(3) {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .site-main section.post-feeds {
        margin: 20px 0 0;
        padding: 0;
    }

    .site-main h3 {
        text-align: center;
    }

    .site-main .feed {
        flex-wrap: wrap;
    }

    .site-main .feed .post-card, .site-main .feed .post-card:first-of-type, .site-main .feed .post-card:last-of-type {
        width: 100%;
        margin: 10px;
    }

    .site-main .feed .post-card.more-link {
        background-color: transparent;
        padding-bottom: 0;
    }

    .site-main .feed .post-card.more-link i {
        font-size: 4em;
    }
}

@media screen and (max-width: 500px) {
    section.list-header h1 {
        display: none;
    }

    section.list-header h2 {
        font-size: 3em;
        margin: 30px;
    }

    .site-main .feed .post-card .post-card-excerpt {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    section.list-header {
        padding: 20px 0;
    }
    section.list-header h2 {
        font-size: 2.5em;
        margin: 20px;
    }

    .site-main .feed .post-card .post-card-excerpt {
        display: none;
    }
}