:root {
    --primaryColor: #1B9CFC;
    --secondaryColor: #34495e;
}

/*
    1 - Footer
*/

body {
    margin: 0; padding: 0;
    background-color: white;
}

/* 1 - Footer */

footer.site-footer {
    background-color: var(--secondaryColor);
    font-family: 'Inconsolata', monospace;
    padding: 50px;
}

footer.site-footer .site-footer-content {
    max-width: 1024px;
    margin: 0 auto;
}

footer.site-footer .site-footer-content nav.items {
    display: flex;
    justify-content: space-between;
}

footer.site-footer .site-footer-content nav.items h2 {
    font-weight: 300;
    margin: 20px 0;
    font-size: 1em;
    text-transform: uppercase;
}


footer.site-footer .site-footer-content nav.items .item {
    color: white;
    font-weight: 300;
}

footer.site-footer .site-footer-content nav.items ul {
    padding-left: 0;
}

footer.site-footer .site-footer-content nav.items li {
    list-style: none;
    margin: 10px;
    font-size: 0.85em;
}

footer.site-footer .site-footer-content a {
    color: white;
    text-decoration: none;
}

footer.site-footer .site-footer-content nav.items li .coin-address {
    color: var(--primaryColor);
}


footer.site-footer .site-footer-content .copyright {
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-weight: lighter;
    margin: 30px;
  }
