:root {
    --primaryColor: #0076df;
    --primaryFadedColor: #66b8ff;
    --secondaryColor: #34495e;
    --defaultGradientBackground: linear-gradient(70deg, #1b9cfc, #25ccf7);
    --primaryFont: 'Inconsolata', monospace;
    --secondaryFont: 'Source Code Pro', monospace;
}

/*
    1 - Footer
    2 - Header
    3 - Article's list
    4 - Article card
    5 - Pagination
*/

body {
    margin: 0; padding: 0;
    background-color: var(--secondaryColor);
}

main {
    padding: 0.1px 0;
}

a.html-tag::before {
    content: '<'
}

a.html-tag::after {
    content: '/>'
}

/* 1 - Footer */

footer.site-footer {
    background-color: var(--secondaryColor);
    font-family: var(--primaryFont);
    padding: 50px;
}

footer.site-footer .site-footer-content {
    max-width: 1024px;
    margin: 0 auto;
}

footer.site-footer .site-footer-content nav.items {
    display: flex;
    justify-content: space-between;
}

footer.site-footer .site-footer-content nav.items h2 {
    font-weight: 300;
    margin: 20px 0;
    font-size: 1em;
    text-transform: uppercase;
}


footer.site-footer .site-footer-content nav.items .item {
    color: white;
    font-weight: 300;
}

footer.site-footer .site-footer-content nav.items ul {
    padding-left: 0;
}

footer.site-footer .site-footer-content nav.items li {
    list-style: none;
    margin: 10px;
    font-size: 0.85em;
}

footer.site-footer .site-footer-content a {
    color: white;
    text-decoration: none;
}

footer.site-footer .site-footer-content nav.items li .coin-address {
    color: #1B9CFC;;
}


footer.site-footer .site-footer-content .copyright {
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-weight: lighter;
    margin: 30px;
}

@media screen and (max-width: 800px) {
    footer.site-footer .site-footer-content nav.items {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 450px) {
    footer.site-footer {
        padding: 50px 0;
    }

    footer.site-footer .site-footer-content nav.items {
        flex-direction: column-reverse;
    }

    footer.site-footer .site-footer-content nav.items .item {
        text-align: center;
    }

    footer.site-footer .site-footer-content nav.items .item .coin-address {
        display: block;
    }
}

/* 2 - Header */

header.site-header {
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    margin: 0; padding: 20px;
}

header.site-header div.site-header-content {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
}

header.site-header, header.site-header a {
    color: var(--secondaryColor);
    text-decoration: none;
    font-family: var(--primaryFont);
}

header.site-header .title {
    font-size: 1.5em;
}

header.site-header .title img.logo {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
}

header.site-header .menu {
    display: flex;
    align-items: center;
}

header.site-header .menu ul {
    display: flex;
    justify-content: space-between;
    margin: 0; padding: 0;
    list-style: none;
    height: min-content;
}

header.site-header .menu li {
    margin: 0 15px;
    font-weight: lighter;
    font-size: 0.95em;
    cursor: pointer;
}

header.site-header .menu li.search {
    position: relative;
}

header.site-header .menu li.search .search-popup {
    position: absolute;
    display: none;
    left: 0;
    top: -3px;
}

header.site-header .menu li.search .search-popup input {
    width: 300px;
    padding: 5px;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    font-family: var(--primaryFont);
}

header.site-header .menu li.search:hover .search-popup,
header.site-header .menu li.search .search-popup:focus-within {
    display: inline-block;
}

@media screen and (max-width: 500px) {
    header.site-header div.site-header-content {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    header.site-header .title, header.site-header .menu {
        margin: 20px 0;
    }

    header.site-header .menu li {
        margin: 5px 10px;
    }
}

/* 3 - Article's list */

section.list-header {
    background: var(--defaultGradientBackground);
    padding: 20px;
    color: white;
    padding: 150px 10px 50px;
    font-weight: bolder;
}

section.list-header .list-header-content {
    max-width: 1024px;
    margin: auto;
}

section.list-header h1 {
    font-family: var(--secondaryFont);
    text-align: center;
    font-size: 4em;
}

section.list-header .list-header-title {
    margin-top: 0;
}

section.list-header .infos {
    font-family: var(--primaryFont);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section.list-header .infos h3 {
    margin: 10px 0;
    font-size: 1.17em;
    font-weight: bold;
}

section.list-header .infos ul {
    padding: 0;
}

section.list-header .infos li {
    font-weight: lighter;
    list-style: none;
}

section.list-header .infos .featured-links li::before {
    content: '\203A ';
}

section.list-header .infos a {
    color: white
}

section.list-header .infos li img {
    height: 30px;
    filter: grayscale(100%) brightness(0) invert(1);
    margin: 5px;
}

section.list-header .infos .social-networks ul {
    padding: 0;
    display: flex;
}

section.list-header .infos .description {
    font-weight: lighter;
    max-width: 700px;
}

#site-main {
    background-color: white;
}

#site-main .post-feed .no-post {
    text-align: center;
    font-family: var(--primaryFont);
    padding: 20px;
}

#site-main .post-feed-pagination {
    text-align: center;
    margin: 40px;
    font-family: var(--primaryFont);
}

@media screen and (max-width: 1024px) {
    section.list-header {
        padding: 15px;
    }
}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 500px) {
    section.list-header h1 {
        font-size: 2.5em;
    }

    section.list-header  .infos {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    section.list-header  .infos .social-networks {
        display: none;
    }
}

/* 4 - Article card */

article.post-card, article.post-card a {
    font-family: var(--primaryFont);
    color: black;
    text-decoration: none;
    max-width: 1024px;
    margin: 30px auto;
}

article.post-card {
    padding: 0 20px 20px;
}

article.post-card:nth-child(even) {
    background-color: #f5f5f5;
}

article.post-card a:not(.post-card-content-link) {
    background-color: rgba(0, 118, 223, 0.2);
    color: #0076df;
}

article.post-card .post-card-header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
}

article.post-card .post-card-header .post-card-title {
    font-family: var(--secondaryFont);
}

article.post-card .post-card-header .reading-time {
    margin-left: 20px;
}

article.post-card .post-card-header .sponsored-tag {
    margin: 0 20px;
    background-color: #fdcb6e;
    color: black;
    border-radius: 2px;
    padding: 2px 5px;
    font-size: 0.85em;
    display: inline-block;
}

/* 5 - Pagination */


nav.pagination a {
    color: var(--primaryColor);
    text-decoration: none;
}

/* 6 - Support */
section.support {
    color: black;
    overflow: hidden;
    transition: all 1s ease;
    background-color: #f5f5f5;
    text-align: center;
    padding: 5px 20px;
    font-family: var(--secondaryFont);
}

section.support:hover {
    padding: 20px 20px 15px;
}

section.support .actions .button {
    display: inline-block;
    background-color: rgb(232, 91, 70);
    color: white;
    text-decoration: none;
    padding: 11px;
    margin: 12px 0 0;
    border-radius: 2px;
    transition: box-shadow .5s ease-out;
}

section.support .actions .button:hover {
    box-shadow: 5px 5px 5px #BBB;
}
