<div class='member-cta' lang='en'>
    <h2>
        Join
        {{total_members}}
        developers and get notified every month about new content on the blog.
    </h2>
    <form data-members-form='subscribe'>
        <label>
            Email
            <input
                data-members-email
                type='email'
                required='true'
                placeholder='jamie@example.com'
            />
        </label>
        <input data-members-label type='hidden' value='English' />
        <button class='button' type='submit'>Let's go!</button>
    </form>
    <p>No spam ever. Unsubscribe in a single click at any time.</p>
</div>