<div class='thanks-cta' lang='en'>
    {{#has tag='#sponsored-post'}}
        <p>
            This post is free for all to read thanks to the investment our
            sponsor have made in our independent publication. Do you want to
            sponsor a post on
            {{@site.title}}? Please email me at
            <a
                href='mailto:hello@mindsers.blog'
                title='Sponsoring partnership on {{@site.title}}'
                rel='nofollow noreferrer'
            >hello@mindsers.blog</a>!
        </p>
    {{else}}
        <p>
            This post is free for all to read thanks to the investment
            <strong>Mindsers Club</strong>
            members have made in our independent publication.
            {{#if @member.paid}}
                Thank you so much for being part of this adventure. Please
                consider sharing the word to your friends, so this community can
                continue to grow!
            {{else}}
                If this work is meaningful to you, I invite you to
                <a href='https://club.mindsers.blog/' title='Subscribe!'>
                    join the club
                </a>
                today.
            {{/if}}
        </p>
    {{/has}}
</div>