@import 'colors';
@import 'fonts';

.button {
    appearance: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    border-width: 0;
    border-style: solid;
    background-color: $background_color;
    color: $foreground_color;
    font-family: $sans;
    font-weight: 600;

    &.primary {
        background-color: $accent_color;
        color: white;
    }

    &.patreon {
        background-color: #ff424d;
        color: white;
    }

    &.highlighted {
        background-color: $secondary_color;
        background: $default_gradient;
        font-size: 1.05em;
        color: white;
    }
}
