.mds-card {
    border-radius: 4px;
    margin: 10px;
    box-sizing: border-box;
    padding: 0;

    .mds-card-link {
        box-sizing: border-box;
        text-decoration: none;
        color: $foreground_color;
        display: inline-block;
        background-color: $background_color;
        width: 100%;
        border-width: 4px;
        border-radius: 3px;
        padding: 15px;
        position: relative;

        .mds-card-meta {
            font-size: 0.9em;
            font-weight: 300;

            .premium-label {
                background-color: $premium_color;
                border-radius: 2px;
                padding: 2px;

                @media (prefers-color-scheme: dark) {
                    background-color: goldenrod;
                    color: $background_color;
                }
            }

            .member-label {
                background-color: rgba($secondary_color, 0.3);
                border-radius: 2px;
                padding: 2px;

                @media (prefers-color-scheme: dark) {
                    background-color: rgba($secondary_color, 0.9);
                }
            }
        }

        .cta {
            visibility: hidden;
            color: $accent_color;
            font-size: 0.85em;
            font-weight: 600;
        }

        p {
            font-size: 0.85em;
            font-family: $serif;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 10px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $default_gradient;
            border-radius: 6px;
            z-index: -1;
            animation: rotate 3s ease alternate infinite;
            background-size: 300% 300%;
        }

        &:focus,
        &:hover {
            border-width: 0;

            .cta {
                visibility: inherit;
            }

            &::after {
                top: calc(-1 * 3px);
                left: calc(-1 * 3px);
                height: calc(100% + 3px * 2);
                width: calc(100% + 3px * 2);
            }
        }
    }
}

@keyframes rotate {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
