@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: auto; /* or block, swap, fallback, optional */
    src: local('Noto Sans'),
        url('/assets/fonts/NotoSans-Regular.ttf') format('truetype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}

$sans_font: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, 'Droid Sans', 'Helvetica Neue', sans-serif;
