@import 'colors';
@import 'fonts';
@import 'card';

.mds-home {
    font-family: $sans;

    .mds-header .mds-container {
        margin: 80px auto;
        display: flex;
        justify-content: space-around;

        .presentation {
            width: 40%;

            .mds-title {
                font-size: 3.5em;
                font-weight: 900;
                text-align: left;
                margin: 40px 0 20px;
            }

            p {
                margin: 20px 0;
            }
        }

        .illustration {
            width: 55%;
        }
    }

    .mds-featured .mds-container {
        display: flex;
        column-gap: 5%;
        flex-basis: 45%;
        margin: 40px auto;

        article {
            width: 45%;
        }
    }

    .section-title {
        font-size: 2.25rem;
        font-weight: 600;
        text-align: center;
        margin: 30px 0;
    }

    .highlighted-band {
        background: $default_gradient;
        position: sticky;
        left: 0;
        width: 100%;
        margin: 40px 0;
        padding: 30px;
        color: white;
        text-align: center;
        padding: 100px 0;

        .section-title {
            margin: 0 0 60px 0;
        }

        .button {
            background: white;
            color: $accent_color;
            font-weight: 400;
        }
    }

    .mds-postfeed {
        display: flex;
        flex-wrap: wrap;

        article {
            width: 30%;
        }
    }
}
