@import 'colors';
@import 'fonts';
@import 'card';

.mds-home {
    font-family: $sans;

    .mds-header {
        margin: 80px 0;
        display: flex;
        justify-content: space-around;

        .presentation {
            width: 40%;

            .mds-title {
                font-size: 3.5em;
                font-weight: 900;
                text-align: left;
                margin: 40px 0 20px;
            }

            p {
                margin: 20px 0;
            }
        }

        .illustration {
            width: 55%;
        }
    }

    .mds-featured {
        display: flex;
        column-gap: 5%;
        flex-basis: 45%;

        article {
            width: 45%;
        }
    }
}
