@import 'colors';
@import 'fonts';
@import 'buttons';

.mds-login,
.mds-signin {
    font-family: $sans;
    min-height: 600px;

    .mds-header {
        margin: 80px;

        .mds-title {
            font-size: 3em;
            font-weight: 600;
            text-align: center;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        margin: auto;

        .message-success,
        .message-error {
            display: none;
            text-align: center;
        }

        .message-success {
            display: $secondary_color;
        }

        .message-error {
            color: #ff424d;
        }

        &.success .message-success,
        &.error .message-error {
            display: block;
        }

        &.loading button {
            opacity: 0.6;
            pointer-events: none;
        }

        label {
            font-weight: bold;
            display: flex;
            flex-direction: column;
            margin: 15px 0;

            & + label {
                margin-top: 0;
            }

            &.checkbox-label {
                font-weight: normal;
                display: block;
            }
        }

        button[type='submit'] {
            margin-top: 15px;
        }

        .switch {
            text-align: center;

            a {
                color: $accent_color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
