@import 'colors';
@import 'fonts';
@import 'buttons';

body {
    padding: 0;
    margin: 0;

    .gh-head {
        background-color: $background_color;
        font-family: $sans_font;
        padding: 0 20px;

        .gh-container {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .gh-head-logo {
                font-size: 1.5em;
                font-weight: 700;
                text-decoration: none;
                color: $foreground_color;
            }

            .gh-head-menu {
                margin: 0 20px;
                font-size: 0.95em;

                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    padding: 0;

                    li {
                        margin: 10px;

                        a {
                            color: $accent_color;
                            text-decoration: none;
                            font-weight: bold;
                        }
                    }
                }
            }

            .gh-head-placeholder {
                flex-grow: 2;
            }
        }
    }

    .gh-foot {
        background-color: $foreground_color;
        color: $background_color;
        font-family: $sans_font;
        padding: 30px;
        margin-top: 30px;
        font-size: 0.85em;

        .gh-container {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;

            a {
                color: $accent_color;
                text-decoration: none;
                font-weight: normal;
            }

            .gh-foot-menu {
                padding: 0;
                margin: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .menu-list {
                    margin: 20px;

                    h2 {
                        font-variant: small-caps;
                    }
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    padding-left: 10px;
                }
            }

            .gh-foot-actions {
                display: flex;
                flex-direction: row;

                svg {
                    height: 30px;
                    margin: 10px;
                }
            }

            .gh-foot-meta {
                margin: 20px;
                text-align: center;
            }
        }
    }
}
