@import 'colors';
@import 'fonts';
@import 'global';
@import 'content';

.mds-page {
    .mds-header {
        .mds-title {
            font-size: 3em;
            font-weight: 600;
            text-align: center;

            @media (max-width: 850px) {
                font-size: 3em;
            }

            @media (max-width: 550px) {
                text-align: center;
                font-size: 2.8em;
            }

            @media (max-width: 350px) {
                font-size: 2.5em;
            }
        }

        p {
            text-align: center;
            width: 75%;
            margin: 30px auto;

            @media (max-width: 550px) {
                margin: 20px 0;
                width: auto;
            }
        }
    }

    .mds-content {
        margin-bottom: 60px;
        margin-top: 0px;
    }
}
