@import 'colors';
@import 'fonts';
@import 'card';

.mds-page {
    font-family: $sans;

    .mds-header {
        margin: 50px;

        .mds-title {
            font-size: 3em;
            font-weight: 600;
            text-align: center;
        }
    }

    nav.pagination {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;

        .pagination-link {
            text-decoration: none;
            color: $accent_color;
            margin: 0 5px;

            &.disabled {
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }
}
