@import 'colors';
@import 'fonts';
@import 'global';
@import 'testimonials';
@import 'card';

.mds-plans {
    font-family: $sans;

    .mds-header {
        margin: 80px;
        margin-bottom: 50px;

        @media (max-width: 1024px) {
            margin: 0 20px;
        }

        @media (max-width: 550px) {
            flex-wrap: wrap;
            flex-direction: row-reverse;
        }

        @media (max-width: 350px) {
            margin: 0;
        }

        .mds-title {
            font-size: 3em;
            font-weight: 600;
            text-align: center;

            @media (max-width: 850px) {
                font-size: 3em;
            }

            @media (max-width: 550px) {
                text-align: center;
                font-size: 2.8em;
            }

            @media (max-width: 350px) {
                font-size: 2.5em;
            }
        }

        p {
            text-align: center;
            width: 75%;
            margin: 30px auto;

            @media (max-width: 550px) {
                margin: 20px 0;
                width: auto;
            }
        }
    }

    .mds-toggle {
        height: min-content;
        width: 60px;
        background-color: $foreground_color;
        border-radius: 18px;
        padding: 3px;
        display: inline-flex;
        margin: 10px;

        .mds-toggle-handle {
            background-color: $background_color;
            height: 30px;
            width: 50%;
            border-radius: 15px;
        }
    }

    .mds-toggle-container {
        display: inline-flex;
        align-items: center;

        input {
            & + .mds-toggle {
                height: min-content;
                width: 60px;
                background-color: $foreground_color;
                border-radius: 18px;
                padding: 3px;
                display: inline-flex;
                justify-content: flex-start;
                margin: 10px;

                .mds-toggle-handle {
                    background-color: $background_color;
                    height: 30px;
                    width: 50%;
                    border-radius: 15px;
                    transition: all 2s;
                    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.5);
                }
            }

            &:checked + .mds-toggle {
                justify-content: flex-end;
                background: $default_gradient;
            }
        }
    }

    .mds-plan-grid {
        margin: 50px 0 120px;

        @media (max-width: 850px) {
            margin: 0 0 120px;
        }

        @media (max-width: 700px) {
            margin: 0;
        }

        a:not(.button) {
            text-decoration: none;
            color: $accent_color;

            &:hover {
                text-decoration: underline;
            }
        }

        .mds-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            &.grid {
                display: grid;
                grid-template-columns: 30% 30% 30%;
                column-gap: 20px;
                row-gap: 25px;
                margin-bottom: 20px;

                &.grid-1 {
                    grid-template-columns: 45%;
                }

                &.grid-2 {
                    grid-template-columns: 45% 45%;
                }

                &[data-plan='yearly'] {
                    .monthly-plan-data {
                        display: none;
                    }
                }

                &[data-plan='monthly'] {
                    .yearly-plan-data {
                        display: none;

                        & ~ .discount {
                            display: none;
                        }
                    }
                }

                @media (max-width: 850px) {
                    grid-template-columns: 45% 45%;
                }

                @media (max-width: 750px) {
                    grid-template-columns: 90%;

                    &.grid-2 {
                        grid-template-columns: 90%;
                    }
                }
            }

            .plus-section {
                text-align: center;

                @media (max-width: 850px) {
                    display: none;
                }
            }

            .plan-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3px;
                background: $foreground_color;
                border-radius: 3px;
                position: relative;

                &:not(.bg-height-variable) {
                    height: 100%;

                    .plan-bg {
                        height: 100%;
                    }
                }

                &.plan-head {
                    position: sticky;
                    top: 0px;
                    z-index: 2;

                    .plan-body {
                        display: none;

                        @media (max-width: 850px) {
                            display: block;
                        }
                    }

                    @media (max-width: 850px) {
                        position: unset;
                    }
                }

                &.plan-perks {
                    display: block;
                    @media (max-width: 850px) {
                        display: none;
                    }
                }

                &.highlighted {
                    background: $default_gradient;
                }

                &.large {
                    width: 60%;
                }

                @media (max-width: 1024px) {
                    margin: 0 10px;
                }

                @media (max-width: 850px) {
                    margin: 0 5px;
                }

                @media (max-width: 550px) {
                    width: auto;
                }

                .plan-bg {
                    background-color: $background_color;
                    border-radius: 3px;
                    padding: 15px;
                    width: 100%;
                    box-sizing: border-box;

                    header {
                        margin: 30px 0;
                        text-align: center;

                        h2 {
                            font-size: 1.25rem;
                            font-weight: 600;
                        }

                        h3 {
                            font-size: 1rem;
                            font-weight: 600;
                        }

                        .yearly-plan-data,
                        .monthly-plan-data {
                            font-size: 3.5em;
                            font-weight: bolder;
                            padding: 5px 0;

                            & > span {
                                font-size: 0.45em;
                                font-weight: 600;
                            }
                        }
                    }

                    .plan-body {
                        margin: 30px 10px;

                        ul {
                            padding: 0;

                            li {
                                list-style: none;
                                margin: 15px 0;
                            }
                        }

                        .eco {
                            color: $secondary_color;
                        }

                        .icon {
                            color: $secondary_color;
                        }

                        .no-perk {
                            color: #ccc;

                            .icon {
                                color: #b4224d;
                            }

                            @media (prefers-color-scheme: dark) {
                                color: #2c3841;
                            }
                        }
                    }

                    .plan-price {
                        margin: 10px;
                        a {
                            width: 100%;
                            box-sizing: border-box;
                            text-align: center;
                        }

                        .notices {
                            text-align: center;
                            font-size: 0.75em;
                        }
                    }
                }

                .plan-favourite-notice {
                    $color: $neutral_color;
                    position: absolute;
                    bottom: -150px;
                    left: 50%;
                    width: 100%;
                    height: 140px;

                    @media (max-width: 700px) {
                        display: none;
                    }

                    .notice {
                        border-width: 2px;
                        border-style: solid;
                        border-color: $color;
                        border-radius: 50%;
                        height: 50%;
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        text-align: center;
                        top: 20%;
                        left: 25%;
                        background-color: $background_color;
                        color: $color;
                        padding-top: 10px;

                        @media (max-width: 850px) {
                            padding: 10px;
                        }
                    }

                    .arrow {
                        position: relative;
                        width: 20%;
                        height: 50%;

                        .curve {
                            width: 100%;
                            height: 95%;
                            margin-left: 8px;
                            border-width: 0 0 2px 2px;
                            border-style: solid;
                            border-color: $color;
                            border-bottom-left-radius: 100%;

                            &::before {
                                content: '';
                                position: absolute;
                                top: -4px;
                                left: 10px;
                                border-style: solid;
                                border-width: 1px;
                                border-color: $color;
                                height: 10px;
                                transform: rotate(-20deg);
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                top: -4px;
                                left: 6px;
                                border-style: solid;
                                border-width: 1px;
                                border-color: $color;
                                height: 10px;
                                transform: rotate(20deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .mds-patreon {
        text-align: center;
        margin: 150px 0 100px;

        @media (max-width: 700px) {
            margin: 30px 0;
        }

        @media (max-width: 550px) {
            margin: 20px 0;
        }

        p {
            margin: 20px 0;
        }
    }

    .mds-eco {
        text-align: center;
        margin: 80px 0;

        @media (max-width: 700px) {
            margin: 30px 0;
        }

        @media (max-width: 550px) {
            margin: 20px 0;
        }

        p {
            margin: 40px 0;
        }
    }

    .mds-issues {
        .no-post {
            margin: 40px;
            text-align: center;
        }
        .more {
            text-align: center;
        }
    }

    .mds-faq {
        margin: 100px 0;

        @media (max-width: 700px) {
            margin: 30px 0;
        }

        @media (max-width: 550px) {
            margin: 20px 0;
        }

        h2 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 3rem;
        }

        .mds-faq-grid {
            display: flex;
            flex-wrap: wrap;

            @media (max-width: 700px) {
                flex-direction: column;
            }

            & > div {
                width: 50%;
                box-sizing: border-box;
                padding: 0 20px;

                @media (max-width: 700px) {
                    width: 100%;
                }

                @media (max-width: 550px) {
                    padding: 0 10px;
                }

                a:not(.button) {
                    color: $accent_color;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
