@import 'colors';
@import 'fonts';
@import 'global';

.mds-profile {
    font-family: $sans;

    .mds-header {
        margin: 80px 0 40px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1024px) {
            margin: 0 20px;
        }

        @media (max-width: 550px) {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }

        @media (max-width: 350px) {
            margin: 0;
        }

        h1 {
            font-size: 3em;
            font-weight: 600;
            margin-top: 0;
        }

        .avatar {
            margin: 0 20px;
            position: relative;
            min-width: 150px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;

            svg,
            img {
                width: 150px;
                height: 150px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .infos,
    .subscriptions {
        margin: 40px 0;
    }

    .infos label {
        font-weight: 600;
    }

    .subscriptions {
        .fallback {
            text-align: center;
            margin: 30px 0 50px;
        }

        .subscription {
            padding: 20px;
            margin: 20px 0;
            box-shadow: 0px 0 4px rgba(0, 0, 0, 0.25);
            border-radius: 3px;

            .summary {
                margin: 10px 0 30px;
                text-align: center;
            }

            .subscriber-detail {
                display: flex;
                justify-content: space-between;
                margin: 10px 0;

                .subscriber-detail-label {
                    font-weight: 600;
                }
            }

            .actions {
                margin: 20px 0 0;
                text-align: center;
            }
        }
    }

    .profile-grid {
        display: flex;
        justify-content: space-between;

        div {
            text-align: center;
            width: 45%;

            a.button.discord {
                background-color: #5865f2;
            }

            a:not(.button) {
                color: $accent_color;
                text-decoration: none;

                &.discord {
                    color: #5865f2;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
